@inherits LayoutComponentBase

<PageTitle>Client</PageTitle>

<div>
    <header>
        <NavBar/>
    </header>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
