<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <NavLink class="navbar-brand" href="#">
        HotelClean
    </NavLink>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <NavLink class="nav-link" href="services">
                    Servicios
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="employees">
                    Empleados
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="locations">
                    Areas y Habitaciones
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="reports">
                    Reportes
                </NavLink>
            </li>
        </ul>
    </div>
</nav>